build/
*.o
*.exe
moc_*.cpp
ui_*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
qrc_*.cpp
file_resource.rc
.vs/
*.ipch
*.db-shm
*.db-wal
.claude/
x64/
*.ilk
*.pdb
*.obj
*.tlog
*.log
*.idb
*.bsc
*.sdf
*.opensdf
*.sln.docstates
*.suo
*.vcxproj.user
Win32/
debug/
release/
