#pass_visible[state='unvisible']{
   border-image: url(:/images/res/unvisible.png);
}

#pass_visible[state='unvisible_hover']{
   border-image: url(:/images/res/unvisible_hover.png);
}

#pass_visible[state='visible']{
   border-image: url(:/images/res/visible.png);
}

#pass_visible[state='visible_hover']{
   border-image: url(:/images/res/visible_hover.png);
}


#confirm_visible[state='unvisible']{
   border-image: url(:/images/res/unvisible.png);
}

#confirm_visible[state='unvisible_hover']{
   border-image: url(:/images/res/unvisible_hover.png);
}

#confirm_visible[state='visible']{
   border-image: url(:/images/res/visible.png);
}

#confirm_visible[state='visible_hover']{
   border-image: url(:/images/res/visible_hover.png);
}

#side_bar{
   background-color:rgb(46,46,46);
}

ChatUserWid {
    background-color:rgb(247,247,247);
    border: none;
}

#user_chat_lb{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

#user_name_lb{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

#time_wid #time_lb{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}

QScrollBar:vertical {
    background: transparent; /* 灏嗚建閬撹儗鏅缃负閫忔槑 */
    width: 8px; /* 婊氬姩鏉″搴︼紝鏍规嵁闇€瑕佽皟鏁?*/
    margin: 0px; /* 绉婚櫎婊氬姩鏉′笌婊戝潡涔嬮棿鐨勯棿璺?*/
}

QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 婊戝潡棰滆壊 */
    min-height: 10px; /* 婊戝潡鏈€灏忛珮搴︼紝鏍规嵁闇€瑕佽皟鏁?*/
    border-radius: 4px; /* 婊戝潡杈圭紭鍦嗚锛岃皟鏁翠互褰㈡垚妞渾褰㈢姸 */
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 绉婚櫎涓婁笅鎸夐挳 */
    border: none; /* 绉婚櫎杈规 */
    background: transparent; /* 鑳屾櫙閫忔槑 */
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 椤甸潰婊氬姩閮ㄥ垎鑳屾櫙閫忔槑 */
}

#chat_user_name {
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#side_chat_lb[state='normal']{
    border-image: url(:/images/res/chat_icon.png);
}

#side_chat_lb[state='hover']{
    border-image: url(:/images/res/chat_icon_hover.png);
}

#side_chat_lb[state='pressed']{
    border-image: url(:/images/res/chat_icon_press.png);
}

#side_chat_lb[state='selected_normal']{
    border-image: url(:/images/res/chat_icon_press.png);
}

#side_chat_lb[state='selected_hover']{
    border-image: url(:/images/res/chat_icon_press.png);
}

#side_chat_lb[state='selected_pressed']{
    border-image: url(:/images/res/chat_icon_press.png);
}

#side_contact_lb[state='normal']{
    border-image: url(:/images/res/contact_list.png);
}

#side_contact_lb[state='hover']{
    border-image: url(:/images/res/contact_list_hover.png);
}

#side_contact_lb[state='pressed']{
    border-image: url(:/images/res/contact_list_press.png);
}

#side_contact_lb[state='selected_normal']{
    border-image: url(:/images/res/contact_list_press.png);
}

#side_contact_lb[state='selected_hover']{
    border-image: url(:/images/res/contact_list_press.png);
}

#side_contact_lb[state='selected_pressed']{
    border-image: url(:/images/res/contact_list_press.png);
}
